
body {
    margin: 0;
    font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
    font-size: 62.5%;
    color: #444;
    background: #022c43;
    overflow: hidden;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}